
/* ----------------- */
/* Blog Section      */
/* ----------------- */
.blog-section {
    padding: 6rem 0;
    background-color: var(--darker-bg);
}

.blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.blog-signup, .blog-feed {
    border-radius: var(--border-radius);
    overflow: hidden;
}
